%h1 Academias Cadastradas

%table
  %thead
    %tr
      %th Nome
      %th Endereco
      %th Modalidade
      %th
      %th
      %th

  %tbody
    - @academia_treinamentos.each do |academia_treinamento|
      %tr
        %td= academia_treinamento.nome
        %td= academia_treinamento.endereco
        %td= academia_treinamento.modalidade
        %td= link_to 'Exibir', academia_treinamento
        %td= link_to 'Editar', edit_academia_treinamento_path(academia_treinamento)
        %td= link_to 'Excluir', academia_treinamento, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Cadastrar Academia', new_academia_treinamento_path
