<p id="notice"><%= notice %></p>

<h1>Listing Academia Treinamentos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Local</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @academia_treinamentos.each do |academia_treinamento| %>
      <tr>
        <td><%= academia_treinamento.nome %></td>
        <td><%= academia_treinamento.local %></td>
        <td><%= link_to 'Show', academia_treinamento %></td>
        <td><%= link_to 'Edit', edit_academia_treinamento_path(academia_treinamento) %></td>
        <td><%= link_to 'Destroy', academia_treinamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Academia treinamento', new_academia_treinamento_path %>
