<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @academia_treinamento.nome %>
</p>

<p>
  <strong>Local:</strong>
  <%= @academia_treinamento.local %>
</p>

<%= link_to 'Edit', edit_academia_treinamento_path(@academia_treinamento) %> |
<%= link_to 'Back', academia_treinamentos_path %>
