%p#notice= notice

%p
  %b Nome:
  = @academia_treinamento.nome
%p
  %b Endereco:
  = @academia_treinamento.endereco
%p
  %b Modalidade:
  = @academia_treinamento.modalidade

= link_to 'Editar', edit_academia_treinamento_path(@academia_treinamento)
\|
= link_to 'Voltar', academia_treinamentos_path
