%h1 Professores Cadastrados

%table
  %thead
    %tr
      %th Nome
      %th Telefone
      %th
      %th
      %th

  %tbody
    - @professors.each do |professor|
      %tr
        %td= professor.nome
        %td= professor.telefone
        %td= link_to 'Exibir', professor
        %td= link_to 'Editar', edit_professor_path(professor)
        %td= link_to 'Excluir', professor, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Cadastrar Professor', new_professor_path
