%p#notice= notice

%p
  %b Descricao:
  = @modalidade.descricao
%p
  %b Professor:
  = @modalidade.professor

= link_to 'Editar', edit_modalidade_path(@modalidade)
\|
= link_to 'Voltar', modalidades_path
