%h1 Comentários e Notas

%table
  %thead
    %tr
      %th Comentario
      %th Nota
      %th Academia treinamento
      %th
      %th
      %th

  %tbody
    - @qualificacaos.each do |qualificacao|
      %tr
        %td= qualificacao.comentario
        %td= qualificacao.nota
        %td= qualificacao.academia_treinamento
        %td= link_to 'Exibir', qualificacao
        %td= link_to 'Editar', edit_qualificacao_path(qualificacao)
        %td= link_to 'Excluir', qualificacao, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Cadastrar Comentario e Nota', new_qualificacao_path
