<p id="notice"><%= notice %></p>

<p>
  <strong>Comentario:</strong>
  <%= @qualificacao.comentario %>
</p>

<p>
  <strong>Nota:</strong>
  <%= @qualificacao.nota %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @qualificacao.usuario_id %>
</p>

<p>
  <strong>Academia:</strong>
  <%= @qualificacao.academia_id %>
</p>

<%= link_to 'Edit', edit_qualificacao_path(@qualificacao) %> |
<%= link_to 'Back', qualificacaos_path %>
