%p#notice= notice

%p
  %b Comentario:
  = @qualificacao.comentario
%p
  %b Nota:
  = @qualificacao.nota
%p
  %b Academia treinamento:
  = @qualificacao.academia_treinamento

= link_to 'Editar', edit_qualificacao_path(@qualificacao)
\|
= link_to 'Voltar', qualificacaos_path
