%p#notice= notice

%p
  %b Nome:
  = @usuario.nome
%p
  %b Email:
  = @usuario.email
%p
  %b Telefone:
  = @usuario.telefone
%p
  %b Senha:
  = @usuario.senha

= link_to 'Editar', edit_usuario_path(@usuario)
\|
= link_to 'Voltar', usuarios_path
