<!DOCTYPE html>
<html>
<head>
  <title>ProjetoAcademia</title>
      <nav id="menu">
    	<ul>
    		<li><a class="principal" href="http://localhost:3000">Home</a></li>
    		<li><%=li= link_to "Usuarios", "/usuarios"%> </li>
    		<li><%=li= link_to "Professores", "/professors"%> </li>
        <li><%=li= link_to "Comentarios e Notas", "/qualificacaos"%> </li>
        <li><%=li= link_to "Academias", "/academia_treinamentos"%> </li>
        <li><%=li= link_to "Modalidades", "/modalidades"%> </li>
    	</ul>
    </nav>
</head>
<body>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<%= yield %>

</body>
</html>